body {
  background: black;
  color: white;
  text-align: center;
  font-family: "Comic Sans MS";
}

h1 {
  font-size: 30px;
}

canvas {
  outline: none;
  display: block;
  border: 3px solid black;
  text-align: center;
  margin: auto;
}
